<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Bibliothèque numérique du Collège Sévigné, plateforme de cours magistraux pour agrégatifs ou capétiens">
        <meta name="author" content="Web-Shiny">
        <title>{% block title %}Bibliothèque de Sévigné{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!--        <link rel="stylesheet" href=" asset('css/style.css') }}">-->
        <link rel="stylesheet" href="{{ asset('css/app.css')}}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header class="cs__header">
            <div class="cs__header__topbar">
                <a class="cs__header__logo" href="{{ path('home') }}">
                    <img id="picto" src="{{ asset('/img/picto_CS.png') }}" alt="Logo Collège Sévigné">
                    <img id="logo" src="{{ asset('/img/logo-blanc.png')}}" alt="Logo Collège Sévigné">
                </a>
        
                <div class="cs__header__menu">
                    {% if is_granted('ROLE_USER') %}
                        <div class="cs__menu__avatar">
                            <button class="cs__toggle__sidebar" href="#">
                                <img src="https://via.placeholder.com/50" alt="avatar">
                            </button>
                        </div>
                    {% else %}
                        <div class="cs__menu__btn">
                            <a class="cs__btn" href="#">Inscription</a>
                            <a class="cs__btn btn-primary" href="{{ path('security.login') }}">Connexion</a>
                        </div>
                    {% endif %}
                </div>
                {% if is_granted('ROLE_USER') %}
                    <div class="cs__sidebar">
                        <div class="cs__sidebar__menu">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin.home') }}"><i class="fas fa-tachometer-alt"></i>Tableau de bord</a>
                            {% endif %}
                            <a href="#profile"><i class="fas fa-user"></i>{{ app.user.username|upper }}</a>
                            <a class="cs__sidebar__logout" href="{{ path('security.logout') }}"><i class="fas fa-power-off"></i>Déconnexion</a>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% block search %}
                <div class="cs__search">
                    <div class="cs__search-content">
                        <h1 class="cs__search-title">Bibliothèque Numérique</h1>

                        <form class="cs__search-form" action=" path('search') }}" method="GET">
                            <div class="cs__input-group">
                                <input type="text" name="param" class="cs__input-control" aria-label="Rechercher" placeholder="Rechercher...">
                                <button type="submit" class="cs__input-group-btn">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endblock %}

        </header>
        
        {% block body %}
        {% endblock %}

        <footer class="cs__footer">
            <div class="cs__container">
                <div class="cs__footer-info">
                    <img class="cs__info-logo" src="{{ asset('img/logo-blanc.png') }}" alt="Logo Collège Sévigné">
                    <h4 class="cs__info-title">Bibliothèque Numérique</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="cs__footer-links">
                    <ul class="cs__links-list">
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                        <li><a href="{{ path('legal') }}">Mentions légales</a></li>
                        <li><a href="http://www.education.gouv.fr/" target="_blank">Education nationale</a></li>
                    </ul>
                </div>
            </div>
        </footer>
<!--
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{{ asset('/js/app.js') }}"></script>-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="{{ asset('/js/appjs.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>


