{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="cs__container">
            <ul class="cs__breadcrumb">
                <li><a href="{{ path('home') }}"><i class="fas fa-home"></i> Accueil</a></li>
            </ul>
            <div class="cs__main">

                {{ include ('library/component/_sidebar.html.twig', {}) }}

                <div class="cs__catalog-content">
                    {% if books is not empty %}
                        {% if app.request.attributes.get("_route") == "book.search" %}
                            <h2>Recherche : "{{ app.request.get('search') }}"</h2>
                        {% endif %}
                        <div class="cs__content-result">
                            <p>Cours trouvés : {{ books.getTotalItemCount }}</p>
                            <div class="cs__pagination" aria-label="Pagination">
                                {{ knp_pagination_render(books) }}
                            </div>
                        </div>
                        {% for book in books %}
                            <div class="cs__course-item">
                                <img class="cs__item-img" src="http://placehold.it/100x100" alt="thumb">
                                <div class="cs__item-body">
                                    <span class="cs__item-date">Année : {{ book.yearBook }}</span>
                                    <h3 class="cs__item-title"><a href="{{ path('book.show', {id: book.id, slug: book.slug}) }}">{{ book.title }}</a></h3>
                                    <span class="cs__item-category">{{ book.category.title }}</span>
                                    <p class="cs__item-author">Auteur : {{ book.author }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="cs__pagination" aria-label="Pagination">
                            {{ knp_pagination_render(books) }}
                        </div>
                    {% else %}
                        <h3>Recherche : "{{ app.request.get('search') }}"</h3>
                        <p>Aucun résultat</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}