{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-4 mb-4">
            <div class="cs__sidebar">
                <div class="cs__sidebar__title">
                    {# block sidebar_title #}<h3>Sélectionnez une rubrique</h3>{# endblock #}
                </div>
                <div class="cs__sidebar__content">
                    <!-- item Catégorie -->
                    <div id="js_categorie" class="cs__sidebar__accordion__rubrique js-sidebar">
                        <a href="#collapse01" data-toggle="collapse" data-parent="cs__sidebar__accordion" title="Catégories" class="accordion-toggle" aria-selected="true" aria-expanded="true" aria-controls="collapse01">
                            <div class="cs__sidebar__accordion__content">
                                <div class="cs__sidebar__accordion__heading">
                                    <h4 class="cs__sidebar__accordion__title">CATEGORIES <i class="fas fa-chevron-up pull-right"></i></h4>
                                </div>
                            </div>
                        </a>
                        <div id="collapse01" class="collapse show" aria-hidden="false" tabindex="0">
                            <div class="cs__search__field">
                                <span class="cs__search-icon"><i class="fas fa-search"></i></span>
                                <input type="text" class="form-control cs__search-term" placeholder="Filtrer">
                            </div>
                            <ul id="categories" class="cs__sidebar__accordion__list">
                                {# block sidebar_categories #}
                                    {%  for key, category in filters.categories %}
                                        <li class="cs__item {% if key > 4 %}cs__item__hidden {% endif %}">
                                            <a href=" path('catalog', {category: category }) }}" title="">{{ category }} <strong class="cs__badge pull-right">1</strong></a>
                                        </li>
                                    {% endfor %}
                                {# endblock #}
                            </ul>
                            {% if filters.categories > 4 %}
                                <div class="cs__control">
                                    <button class="cs__voir see-more">Voir plus <span>({{ filters.categories|length - 5 }})</span> +</button>
                                    <button class="cs__voir see-less" style="display: none">Voir moins -</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- item Auteur -->
                    <div id="js_authors" class="cs__sidebar__accordion__rubrique js-sidebar">
                        <a href="#collapse02" data-toggle="collapse" data-parent="cs__sidebar__accordion" title="Auteurs" class="accordion-toggle" aria-selected="true" aria-expanded="true" aria-controls="collapse02">
                            <div class="cs__sidebar__accordion__content">
                                <div class="cs__sidebar__accordion__heading">
                                    <h4 class="cs__sidebar__accordion__title">AUTEURS <i class="fas fa-chevron-up pull-right"></i></h4>
                                </div>
                            </div>
                        </a>
                        <div id="collapse02" class="collapse show" aria-hidden="false">
                            <ul id="authors" class="cs__sidebar__accordion__list">
                                {# block sidebar_profs #}
                                    {%  for key, author in filters.authors %}
                                        <li class="cs__item {% if key > 4 %}cs__item__hidden {% endif %}search-active">
                                            <a href=" path('catalog', {author: author }) }}" title="">{{ author }}</a>
                                        </li>
                                    {%  endfor %}
                                {# endblock #}
                            </ul>
                            {% if filters.authors > 4 %}
                            <div class="cs__control">
                                <button class="cs__voir see-more">Voir plus <span>({{ filters.authors|length - 5 }}) +</span></button>
                                <button class="cs__voir see-less" style="display: none">Voir moins -</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /Sidebar -->

        <div class="maincontent col-md-8 mb-4">
            {% if books is not empty %}
                {% block main_title %}{% endblock %}
                <div class="cs__resultBar">
                    <p>Tous les cours : {{ books.getTotalItemCount }}</p>
                    <div class="cs__pagination">
                        <nav aria-label="Pagination">
                            {{ knp_pagination_render(books) }}
                        </nav>
                    </div>
                </div>
                {% for book in books %}
                    <div class="cs__card">
                        <div class="cs__card__container">
                            <figure class="cs__card__thumbnail col-sm-4">
                                <img src="http://placehold.it/350x150" class="cs__img" alt="">
                            </figure>
                            <div class="cs__card__book col-sm-8">
                                <h3 class="cs__card__title"><a href="{{ path('book.show', {id: book.id, slug: book.slug}) }}">{{ book.title }}</a></h3>
                                <span class="cs__card__tag">{{ book.category.title }}</span>
                                <div class="cs__card__subinfo">
                                    <p class="col-8 info-text">Auteur : {{ book.authorFirstname }} {{ book.authorLastname }}</p>
                                    <p class="col-4 info-text date">Année : {{ book.yearBook }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="cs__pagination">
                    <nav aria-label="Pagination">
                        {{ knp_pagination_render(books) }}
                    </nav>
                </div>
            {% else %}
                <p>Aucun résultat</p>
            {% endif %}
        </div>

    </div>
{% endblock %}